<section id="aboutMe" data-paginateSection >
    <div class="section_container">
        <div class="section_title" data-aos="fade" data-aos-delay="500" data-aos-duration="1000">
            <h2>
                <span>O mnie</span>
                Kim jestem
            </h2>
        </div>
        <div class="aboutMe_wrapper" data-aos="fade-up"  data-aos-delay="500" data-aos-duration="1000">
            <div class="aboutMe_wrapper_img">
                <img src="img/Patrycja.jpg" alt="">
            </div>
            <div class="aboutMe_wrapper_text">
                 <span>Cześć!</span>

                <p class='text-grey'>Nazywam się Patrycja Czerepak, jestem grafikiem <br>
                komputerowym, freelancerem. <br>
                Doświadczenie zdobyłam pracując dla licznych agencji <br>
                reklamowych. Jako niezależny grafik wykonuję projekty <br>
                dla małych i dużych firm.</p>
                <br><br>
                <p>I'm a hard-working, enthusiastic and motivated person with a <br>
                creative mind, open to new ideas. Creating websites, <br>
                applications, or anything in between brings me a lot of <br>
                satisfaction. My goal is to always build products that provide <br>
                pixel-perfect, performant experiences.
                <br><br>
                My ambition, self-denial and coding knowledge make me the <br>
                right person to hire as a junior front-end developer. I always do <br>
                my best in implementing projects so you can be sure that I'll  <br>
                work with due diligence and commitment.</p>
                <br><br><br>
                <p>Miło, że odwiedzasz moją stronę</p>
            </div>
        </div>
    </div>
</section>
