<section id="portfolioSection" data-paginateSection>
    <div class="section_container">
        <div class="section_title" data-aos-offset="200" data-aos="fade-up" data-aos-delay="500" data-aos-duration="1000">
            <h2>
                <span>Projekty</span>
                Portfolio
            </h2>
        </div>
        <div class="portfolio"  data-aos-offset="200" data-aos="fade" data-aos-delay="500" data-aos-duration="1000">
            <span>Czym się zajmuję</span> 
            <p>Excepteur sint occaecat cupidatat non proident, <br>
            sunt in culpa qui officia deserunt mollit anim id <br>
            est laborum.occaecat cupidatat non proident, <br>
            sunt in culpa qui officia deserunt mollit anim id <br>
            est laborum.</p>
            <p class="grey-text">
            Excepteur sint occaecat cupidatat non proident, <br>
            sunt in culpa qui officia deserunt mollit anim id <br>
            est laborum.
            </p>
        </div>
        <div class="portfolio_table" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-offset="200" >
            <ul class="portfolio_table_container">
                <li class="portfolio_table_container_list">
                    <a href="">
                        <div class="project_link">
                            <span class="project_link_type">Strony internetowe</span>
                            <p class="project_link_descr">Excepteur sint occaecat cupidatat non <br>
                            proident, sunt in culpa qui officia deserunt <br>
                            mollit.</p>
                        </div>
                    </a>
                </li>
                <li class="portfolio_table_container_list">
                    <a href="">
                        <div class="project_link">
                            <span class="project_link_type">Logo</span>
                            <p class="project_link_descr">Excepteur sint occaecat cupidatat non <br>
                            proident, sunt in culpa qui officia deserunt <br>
                            mollit.</p>
                        </div>
                    </a>
                </li>
                <li class="portfolio_table_container_list">
                    <a href="">
                        <div class="project_link">
                            <span class="project_link_type">Ulotki</span>
                            <p class="project_link_descr">Excepteur sint occaecat cupidatat non <br>
                            proident, sunt in culpa qui officia deserunt <br>
                            mollit.</p>
                        </div>
                    </a>
                </li>
                <li class="portfolio_table_container_list">
                    <a href="">
                        <div class="project_link">
                            <span class="project_link_type">Wizytówki</span>
                            <p class="project_link_descr">Excepteur sint occaecat cupidatat non <br>
                            proident, sunt in culpa qui officia deserunt <br>
                            mollit.</p>
                        </div>
                    </a>
                </li>
                <li class="portfolio_table_container_list">
                    <a href="">
                        <div class="project_link">
                            <span class="project_link_type">Skład książek</span>
                            <p class="project_link_descr">Excepteur sint occaecat cupidatat non <br>
                            proident, sunt in culpa qui officia deserunt <br>
                            mollit.</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>