<section id="pagePagination">
    <ul class="pagination">
        <li data-pagination="#hero" class="pagination_list active"><a href="">01</a></li>
        <li data-pagination="#aboutMe" class="pagination_list"><a href="">02</a></li>
        <li data-pagination="#portfolioSection" class="pagination_list"><a href="">03</a></li>
        <li data-pagination="#hardSkillSection" class="pagination_list"><a href="">04</a></li>
        <li data-pagination="#softSkillSection" class="pagination_list"><a href="">05</a></li>
        <li data-pagination="#softSkillSection" class="pagination_list"><a href="">06</a></li>
        <span>&nbsp;</span>
    </ul>
</section>