<section id="softSkillSection" data-paginatesection>
    <div class="section_container">
        <div class="section_title">
            <h2>
                <span>O mnie</span>
                Umiejętności miękkie
            </h2>
        </div>
        <div class="softSkill_wrapper">
            <ul class="softSkill_wrapper_list">
                <span>Umiejętności miękkie</span>
                <li>asertywność</li>
                <li>komunikatywność</li>
                <li>odporność na stres</li>
                <li>kreatywność</li>
                <li>umiejętność pracy w zespole</li>
                <li>wysoka kultura osobista</li>
                <li>samodyscyplina</li>
                <li>dobra organizacja pracy.</li>
            </ul>
            <p class="softSkill_wrapper_text">
                Grafik freelancer, nie tylko z pasji, ale i z wykształcenia. <br>
                Absolwentka wydziału Grafiki wrocławskiej Akademii. <br>
                Perfekcjonistka w pracy i w życiu. <br>
                <br><br>
                Grafik freelancer, nie tylko z pasji, ale i z wykształcenia. <br>
                Absolwentka wydziału Grafiki wrocławskiej Akademii. <br>
                Perfekcjonistka w pracy i w życiu. <br>
                </p>
        </div>
    </div>
</section>