body{
	margin: 0;
	padding: 0;
    @include animationTransition;
	font-family: 'Archivo', sans-serif ;
  }


*, *:before, *:after { box-sizing: border-box; }
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #000;
}
p{
    margin: 0;
    color: #000;
    font-size: 16px;
}

button{
	font-family: 'Archivo', sans-serif ;
	@include animationTransition;

}

ul, li {
margin: 0;
padding: 0;
list-style-type: none;
}

a {
	text-decoration: none;
	transition: all .3s ease-in-out;
	color: #000;
	&:hover{
		text-decoration: none;
	}
}

.clearfix {
	&:before,
	&:after {
    display: table;
    content: ' '
	}
	&:after {
		clear: both;
	}
}

.viewport {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}


.section_container{
	margin: 0 auto;
	width: 100%;
	max-width: 992px;
}

.section_title{
	h2{
		font-size: 72px;
		font-weight: 800;
		padding-bottom: 80px;
		span{
			position: relative;
			display: block;
			font-size: 20px;
			color: $grey;
			font-weight: 400;
			margin-bottom: 5px;
			&:before{
				content: '';
				position: absolute;
				width: 40px;
				height: 2px;
				background: black;
				left: -60px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}